In [1]:
import numpy as np
import pandas as pd

In [2]:
members = pd.read_csv('proj3_team3/data_proj3_team3_arena_members.csv')
members

                 dt           arena_id account_db_id  battle_num
0        2017-06-26    addy424dadNN7yd    yca77daT2N        4042
1        2017-06-26    addy424dadNN7yd    ycyN7ycdc1        6849
2        2017-06-26    addy424dadNN7yd    ycd2aTy4T2        7258
3        2017-06-26    addy424dadNN7yd    ycacN1yy7T        2670
4        2017-06-26    addy424dadNN7yd    yc427cdNdT        2910
...             ...                ...           ...         ...
1080356  2017-07-04  221Ny1dac247a7TT7    yc427cdNdT        3460
1080357  2017-07-04  221Ny1dac247a7TT7    yc22221211        5873
1080358  2017-07-04  221Ny1dac247a7TT7    yc2a12c41y        6213
1080359  2017-07-04  221Ny1dac247a7TT7    yc4dTdaNN2        6313
1080360  2017-07-04  221Ny1dac247a7TT7    ycacN4c121        1915

[1080361 rows x 4 columns]

In [3]:
members.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1080361 entries, 0 to 1080360
Data columns (total 4 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   dt             1080361 non-null  object
 1   arena_id       1080361 non-null  object
 2   account_db_id  1080361 non-null  object
 3   battle_num     1080361 non-null  int64
dtypes: int64(1), object(3)
memory usage: 33.0+ MB

In [22]:
# pd.set_option('display.max_rows', 10)
# pd.set_option('display.min_rows', 10)

In [21]:
members
members['dt'] = pd.to_datetime(members['dt'])
members['dt']

0         2017-06-26
1         2017-06-26
2         2017-06-26
3         2017-06-26
4         2017-06-26
             ...
1080356   2017-07-04
1080357   2017-07-04
1080358   2017-07-04
1080359   2017-07-04
1080360   2017-07-04
Name: dt, Length: 1080361, dtype: datetime64[ns]

In [23]:
members['arena_id'] = pd.Categorical(members['arena_id'])
members['account_db_id'] = pd.Categorical(members['account_db_id'])

In [31]:
pd.set_option('display.float_format', lambda x: '%.1f' % x)
members.describe()

       battle_num
count   1080361.0
mean       3057.0
std        2308.2
min           1.0
25%         907.0
50%        2745.0
75%        5040.0
max        7499.0

In [26]:
members.describe(include='category')

                arena_id account_db_id
count            1080361       1080361
unique            114210        238408
top     2aaaaa2TTc2TTd2y    yc427cdNdT
freq                  30          7759

In [27]:
members.describe(include = )

count                 1080361
unique                    365
top       2017-05-30 00:00:00
freq                     7142
first     2017-01-01 00:00:00
last      2017-12-31 00:00:00
Name: dt, dtype: object

In [28]:
len(members) - len(members.drop_duplicates())

0